<div class="tracker-wrapper">
    <div class="tracker-container flex flex-col">

        <div class="top relative flex text-white  justify-center">
            <img class="absolute h-full w-full" src="../../assets/images/pattern-bg-desktop.png" alt="" srcset="" />
            
            <div class="relative w-full h-full px-4 flex flex-col gap-6 py-10">
                <span class="flex justify-center text-3xl lg:text-5xl font-medium p-4">IP Address Tracker</span>
                
                <div class="input-container flex justify-center">
                    <input class="px-3 py-2 text-gray-800 rounded-l placeholder-slate-400 text-sm  lg:w-[375px] focus:ring-0 focus:outline-none" type="text" name="" id="" placeholder="Search for any IP address">
                    <button type="button" class="bg-slate-900 p-3 rounded-r hover:bg-slate-700 transition-all">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                          </svg>                          
                    </button>
                </div>
            </div>

            <div class="details absolute top-[90%] flex flex-col text-center lg:flex-row  text-xs lg:text-sm bg-gray-50 shadow rounded-md text-gray-800 lg:px-10 px-4 lg:py-6 py-4 lg:gap-20 gap-4 font-medium">

                    <div class="flex flex-col gap-2 lg:max-w-[150px]">
                        <span class="text-gray-600">IP ADDRESS</span>
                        <span>Your challenge is to build out this IP Address</span>
                    </div>
    
                    <div class="flex flex-col gap-2 lg:max-w-[150px]">
                        <span class="text-gray-600">LOCATION</span>
                        <span>Your challenge is to build out this IP Address</span>
                    </div>
    
                    <div class="flex flex-col gap-2 lg:max-w-[150px]">
                        <span class="text-gray-600">TIME ZONE</span>
                        <span>Your challenge is to build out this IP Address</span>
                    </div>
    
                    <div class="flex flex-col gap-2 lg:max-w-[150px]">
                        <span class="text-gray-600">ISP</span>
                        <span>Your challenge is to build out this IP Address</span>
                    </div>
                </div>
      
        </div>

        <div class="bottem flex"></div>
    </div>
</div>